<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--   1.导入spring的坐标spring-context-->
<!--   2.配置bean  id是唯一的标识符 class是类型-->
    <bean id="BookDaoImpl"  class="com.example.springioc.dao.impl.BookDaoImpl"/>
    <bean id="BookServiceImpl" class="com.example.springioc.service.impl.BookServiceImpl" />
</beans>